# Conditional Bloc

Create a list of tuple which contains numbers from 1 to 31 and the string 'January'.

Expected result : [(1, 'January'), (2, 'January').. (31, 'January')]

In [6]:
j = [(i,'January') for i in range(1,32)]
print(j)

Create a list of tuple which contains numbers from 1 to 31 and the string 'February'.

Expected result : [(1, 'February'), (2, 'February').. (31, 'February')]

In [7]:
f = [(i,'February') for i in range(1,32)]
print(f)

Concatenate the two previous list into one.

Expected result : [(1, 'January'), (2, 'January').. (31, 'February')]

In [19]:
l = j + f
print(l)

Check if the value (1, 'March') is in the concatenate list.

If yes, then print "The 1 March exist". Otherwise, print "The 1 March does not exist"

In [12]:
if l.__contains__((1,'March')):
    print("The 1 March exist")
else:
    print("The 1 March does not exist")

The 1 March does not exist

In the concatenated list, print every tuple which are equal or below 28 and contains the string 'February'.

In [21]:
result = []
for elm in l:
    if(elm[0] <= 28 and elm[1] == 'February'):
        result.append(elm)
print(result)

[(1, 'February'), (2, 'February'), (3, 'February'), (4, 'February'), (5, 'February'), (6, 'February'), (7, 'February'), (8, 'February'), (9, 'February'), (10, 'February'), (11, 'February'), (12, 'February'), (13, 'February'), (14, 'February'), (15, 'February'), (16, 'February'), (17, 'February'), (18, 'February'), (19, 'February'), (20, 'February'), (21, 'February'), (22, 'February'), (23, 'February'), (24, 'February'), (25, 'February'), (26, 'February'), (27, 'February'), (28, 'February')]



In the concatenated list, delete every date which are above 28.

In [20]:
for elm in l:
    if(elm[0] > 28):
        l.remove(elm)
print(l)

[(1, 'January'), (2, 'January'), (3, 'January'), (4, 'January'), (5, 'January'), (6, 'January'), (7, 'January'), (8, 'January'), (9, 'January'), (10, 'January'), (11, 'January'), (12, 'January'), (13, 'January'), (14, 'January'), (15, 'January'), (16, 'January'), (17, 'January'), (18, 'January'), (19, 'January'), (20, 'January'), (21, 'January'), (22, 'January'), (23, 'January'), (24, 'January'), (25, 'January'), (26, 'January'), (27, 'January'), (28, 'January'), (30, 'January'), (1, 'February'), (2, 'February'), (3, 'February'), (4, 'February'), (5, 'February'), (6, 'February'), (7, 'February'), (8, 'February'), (9, 'February'), (10, 'February'), (11, 'February'), (12, 'February'), (13, 'February'), (14, 'February'), (15, 'February'), (16, 'February'), (17, 'February'), (18, 'February'), (19, 'February'), (20, 'February'), (21, 'February'), (22, 'February'), (23, 'February'), (24, 'February'), (25, 'February'), (26, 'February'), (27, 'February'), (28, 'February'), (30, 'February')]